/*custom colors*/
:root {
  --background-color: rgb(65, 65, 65);
  --text-color: white;
  --text-color2: black;
  --paper-background: white;
  --paper-shadow: 0 0 16px rgba(0, 0, 0, 0.123);
}

/*remove browser styling*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Cutive", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

blockquote {
  color: var(--text-color2);
  align-self: center;
}

/* .shredder {
} */

.paper-stack:has(div) {
  display: flex;
  justify-content: center;
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.247);
  background-color: var(--paper-background);
  /* needs fixed width and height added */
  width: 300px;
  padding: 20px;
}

/* .paper-stack > div:nth-of-type(1) {
  transform: rotate(90deg);
} */
