/*custom colors*/
:root {
  --card-background-front: #f7edf0;
  --card-background-back: #50282f;
  --gradient-background: radial-gradient(circle, rgb(46, 0, 19) 0%, rgb(20, 13, 18) 100%);
  --accent-color: #e63946;
  --accent-color-background: #f9d7d3;
  --deco-color: #f4afab;
  --deco-color-darker: #ff857e;
  --text-color-light: #011627;
  --text-color-dark: #ff857e;
}

/*remove browser styling*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--gradient-background);
  font-family: "Work Sans", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* card container */
.container {
  position: absolute;
  /* src to center horizontally & vertically: https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically*/
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  overflow: hidden;
  border: 2px solid var(--);
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.438));
}

/* actual card */
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* card container rotation when hovering */
.container:hover .card {
  transform: rotateY(180deg);
  transition: transform 1s;
}

/* styling for the front (mostly) & back  of the card*/
.front,
.back {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--card-background-front);
  color: var(--card-background-back);
  text-align: center;
  border-radius: 3px;
  backface-visibility: hidden;
}

/* styling for front of the card */
.front > img {
  position: relative;
  height: 180px;
  align-self: center;
}

/* front section styling */
.section-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 5px;
  margin: -20px;
  color: var(--text-color-light);
}

/* front middle background color */
.section-front > div {
  background-color: var(--accent-color-background);
  padding: 25px 37px;
}

/* accent colors*/
.accent-color,
.name {
  color: var(--accent-color);
}

/* design lines*/
.line1 {
  position: absolute;
  background-color: var(--deco-color);
  height: 4px;
  width: 550px;
  right: 0;
  top: 40px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.line2 {
  position: absolute;
  background-color: var(--deco-color-darker);
  height: 2px;
  width: 380px;
  right: 0;
  top: 55px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.line3 {
  position: absolute;
  background-color: var(--deco-color);
  height: 1px;
  width: 300px;
  right: 0;
  top: 70px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.line4 {
  position: absolute;
  background-color: var(--deco-color-darker);
  height: 2px;
  width: 300px;
  right: 0;
  bottom: 70px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.line5 {
  position: absolute;
  background-color: var(--deco-color);
  height: 1px;
  width: 360px;
  right: 0;
  bottom: 55px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

.line6 {
  position: absolute;
  background-color: var(--deco-color);
  height: 3px;
  width: 550px;
  right: 0;
  bottom: 30px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

/* styling for the back */
/* styling for the logo */
img[alt~="logo"] {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  bottom: 20px;
  left: 25%;
}

.back {
  transform: rotateY(180deg);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: var(--text-color-light);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--card-background-front);
}

/* skills section */

.back h2,
.back h3 {
  font-weight: 700;
}

.back h2 {
  margin-bottom: 5px;
}

.back h3 {
  text-align: left;
  padding: 3px 0;
}

.section-back-skills {
  margin: 20px auto;
}

.section-back-skills > h2 {
  margin-bottom: 13px;
}

.section-back-skills ul {
  display: flex;
  gap: 5px;
}

.section-back-skills ul > li {
  list-style: none;
  font-weight: 400;
  background-color: var(--text-color-dark);
  padding: 3px 10px;
  border-radius: 30px;
  text-align: center;
}

/* contact section */
.section-back-contact {
  padding-top: 20px;
  color: var(--card-background-front);
  background-color: var(--card-background-back);
}

.section-back-contact img {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}

.section-back-contact ul {
  margin-left: 35px;
}

.section-back-contact ul > li {
  list-style: none;
  font-weight: 400;
  border-radius: 30px;
  text-align: left;
  padding-top: 10px;
}

.section-back-contact a {
  color: var(--card-background-front);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    transform: rotate(90deg);
  }
}
