/*custom colors*/
:root {
  --card-background: ;
  --gradient-background: linear-gradient(to bottom right, #280041, #00011c);
  --light-background: #f7edf0;
}

/*remove browser styling*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--gradient-background);
}

.container {
  position: absolute;
  /* src to center horizontally & vertically: https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically*/
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.container:hover .card {
  transform: rotateY(180deg);
  transition: transform 1s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446a;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: #03446a;
  color: white;
  transform: rotateY(180deg);
}
